html {
    min-height: 100vh;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin: auto;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("bg-exploration.jpg") no-repeat center;
    background-size: cover;
}

#logo {
    position: absolute;
    top: 4px;
    left: 16px;
    height: 56px;
    transform: rotate(-30deg);
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 200%;

    background-color: #1c668e;
    border-bottom: 1px solid #808080;

    flex: 0 0 64px;

    /* title alignment */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#title {
    align-content: center;
}

#content {
    align-self: center;
    flex: 1 1 auto;
}

#footer {
    text-align: center;
    flex: 0 0 auto;

    font-size: 14px;
    color: #d3d3d3;

    border-top: 1px solid #808080;
    background-color: #1c668e;
}

#footer a {
    color: #d3d3d3;
}


#search {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#search-bar {
    min-width: 320px;
    border: none;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    height: 44px;
    font-size: 16px;
    box-shadow: 0 4px 8px;

    /* move the search bar slightly up */
    position: relative;
    top: -40px;
}

#search-results {
    font-size: 16px;
}

.search-result {
    padding: 10px 20px;
    width: 240px;
    border-bottom: 1px solid #d3d3d3;
}

.uid {
    color: grey;
    float: right;
}

#elo {
    background-color: #222222;
    color: #dfdfdf;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#elo-content {
    text-align: center;
}

.match {
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d3d3d3;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}

.match.loss {
    background-color: #e5a9aa;
}

.match.win {
    background-color: #9cc18f;
}

.match-info {
    padding-left: 10px;
    width: 420px;
    min-width: 220px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.match-timestamp {
    font-size: 12px;
    color: #808080;
    border-top: 1px solid #808080;
}

.match-info-specific {
    padding-top: 10px;
    justify-self: center;
}

.match-elo {
    margin-left: 10px;
    padding: 5px;
    flex: 0 0 100px;
    text-align: center;
    background-color: #1c668e;
    color: #eee;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.match-elo.rated {
    font-size: 32px;
    font-weight: bold;
}

.win > .match-elo{
    background-color: darkgreen;
}

.loss > .match-elo {
    background-color: darkred;
}

#more {
    font-size: 12px;
    border-top: 1px solid #808080;
    width: 100%;
    align-items: center;
    padding-top: 5px;
    margin-top: -20px;

    color: #d3d3d3;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

#more a {
    color: #d3d3d3;
    margin-left: 5px;
    margin-right: 5px;
}

.more-link-divider {
    font-size: 10px;
}