{% extends "base.jinja2" %}
{% block title %}Scry - Unlist{% endblock %}
{% block header %}Unlist{% endblock %}
{% block content %}
    Please contact me on Discord (Boreeas#3381) until I can get an automated solution working.
{% endblock %}