{% extends "base.jinja2" %}
{% block title %}Scry - Unlist{% endblock %}
{% block header %}Unlist{% endblock %}
{% block content %}
    For now, please send me an email with some proof you own the account you want unlisted. I'm working on an automated solution.
{% endblock %}