{% extends "base.jinja2" %}
{% block title %}Scry - Matchhistory{% endblock %}
{% block header %}{{ display_name|e }}{% endblock %}
{% block after_header %}
    <div id="elo">
        <div id="elo-content">Player Rating: Not Rated Yet</div>
    </div>
{% endblock %}
{% block content %}
    <div style="padding-top: 40vh; font-size: 18px">Error 900: Weaver swallowed by Churn</div>
{% endblock %}